
body {
    background-color: burlywood;
}

* {
  box-sizing: border-box;
}

.box {
  float: left;
  width: 50%;
  padding: 100px;
  height: 100px;
  align-items: center;

}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}