*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

body {
    /* background-color: burlywood; */
    background-color: #36454f;
    color: whitesmoke;
}

.header{
    margin: 20px;
    padding: 10px;
}

#grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  grid-auto-rows: 250px;
  /* place-items: center; */
  /* align-items: center; */

}

#audio{
    /* background-color:#36454f; */
    padding: 5px;
    position: relative;
    /* border: 3px solid #73AD21; */
    /* top: 190px; */
    /* text-align: center; */
    left: 25px;
}

audio {
    filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
    width: 250px;
    height: 30px;
}

#aug-type{
  /* position: relative; */
  /* bottom: 70px; */
  margin-top: auto;
  text-align: center;
}

#grid img{
    text-align: center;
}

#grid img:hover{
  cursor: pointer;
}

.error-para{
  color: red;
  text-transform: uppercase;
}



nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
    background-color: #5d4954;
}

.logo{
    color: rgb(247, 247, 247);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(247, 247, 247);
    text-decoration: none;
     letter-spacing: 3px;
     font-weight: bold;
     font-size: 14px;

}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 5px;
    background-color: rgb(247, 247, 247);
    margin: 5px;
    transition: all 0.3s ease;
}

/* When screen width is smaller than 1024px */
@media screen and (max-width:1024px) {
    .nav-links{
        width: 40%;
    }
    
}

/* When screen width is smaller than 768px */
@media screen and (max-width:768px) {
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #5d4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinksFade{
    from{
        opacity: 0;
        transform: translateX(50px)
    }to{
        opacity: 1;
        transform: translateX(0px)
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}


/* Spec display and Augment your audio */

.custom-spec-display{
  /* align-items: center; */
  text-align: center;
}

form button:hover{
  background: #149174;
	color: #0C5645;
}
form button:active{
  border:0;
}

.file-upload {
  background-color: #ffffff;
  width: 600px;
  margin: 10px;
  /* align-items: center;
  text-align: center; */
  margin: 0 auto;
  padding: 20px;
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1FB264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824B;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #7ab796;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  margin-top: 20px;
  border: 4px dashed #6b7b74;
  position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: rgb(200, 222, 167);
  border: 4px dashed #ffffff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #425d4e;
  padding: 60px 0;
}

.modal{
  /* display none will hide the modal */
  display: none;
  position: fixed;
  z-index: 1;
  left:0; 
  top:0;
  height: 100%;
  width: 100%;
  overflow: auto;
  /* background color is black with 0.5 opacity */
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content{
  background-color: rgb(238, 237, 237);
  color: #000;
  margin: 20% auto;
  padding: 20px;
  width: 70%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  animation-name: modalopen;
  animation-duration: 0.3s;
}

@keyframes modalopen{
  from{opacity: 0;}
  to{opacity: 1;}
}



/* close buttton */
.closeBtn{
  color: #ccc;
  float: right;
  font-size: 30px;
}

.closeBtn:hover, .closeBtn:focus{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
