<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <title>{% block title %} {% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins" rel="stylesheet">

  <!-- Imports to display latex -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.11/dist/katex.min.css"
    integrity="sha384-Um5gpz1odJg5Z4HAmzPtgZKdTBHZdw8S29IecapCSB31ligYPhHQZMIlWLYQGVoc" crossorigin="anonymous">
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.11/dist/katex.min.js"
    integrity="sha384-YNHdsYkH6gMx9y3mRkmcJ2mFUjTd0qNQQvY9VYZgQd7DcN7env35GzlmFaZ23JGp"
    crossorigin="anonymous"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.11/dist/contrib/auto-render.min.js"
    integrity="sha384-vZTG03m+2yp6N6BNi5iM4rW4oIwk5DfcNdFfxkk9ZWpDriOkXX8voJBFrAO7MpVl" crossorigin="anonymous"
    onload="renderMathInElement(document.body);"></script>

</head>

<body>
  <nav class="logo">
    <div>
      <h4>Audio Augmentations</h4>
    </div>
    <ul class="nav-links">
      <li> <a href="/">Home</a> </li>
      <li> <a href="/demos">Demos</a> </li>
    </ul>

    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>

  </nav>


  <!-- Modals for pop ups -->
  <!--Dynamic modal generation for each augmentation  -->
  <!-- Javascript pending -->
  {% if description_dict %}
  {% for key in description_dict.keys() %}
  <div id="simpleModal{{i}}" class="modal">
    <div class="modal-content">
      <span id="closeBtn{{i}}" class="closeBtn">&times;</span>
      <p>
        <!-- Add augmentation name here  -->
      <h3>Augmentation Name {{i}}</h3>
      {{description_dict[key]}}
      </p>
    </div>
  </div>
  {% endfor %}
  {% endif %}




  {% block content %}
  <!-- Add content in other html files here -->
  {% endblock %}
  <!-- <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"> </script> -->
</body>

</html>