<!doctype html>
<title>Audio augmentations</title>

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.11/dist/katex.min.css"
    integrity="sha384-Um5gpz1odJg5Z4HAmzPtgZKdTBHZdw8S29IecapCSB31ligYPhHQZMIlWLYQGVoc" crossorigin="anonymous">
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.11/dist/katex.min.js"
    integrity="sha384-YNHdsYkH6gMx9y3mRkmcJ2mFUjTd0qNQQvY9VYZgQd7DcN7env35GzlmFaZ23JGp"
    crossorigin="anonymous"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.11/dist/contrib/auto-render.min.js"
    integrity="sha384-vZTG03m+2yp6N6BNi5iM4rW4oIwk5DfcNdFfxkk9ZWpDriOkXX8voJBFrAO7MpVl" crossorigin="anonymous"
    onload="renderMathInElement(document.body);"></script>

</head>




<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">

<button id="dark-mode-button">Toggle dark mode</button>



{% if show_examples %}

<div class="header">
  <h1>Audio Augmentations </h1>
</div>

<h2> Example Augmentations</h2>

<div id="grid">

  <div id="box" class="box-dark">
    <audio id="audio" src='/static/audio/Un-Augmented.wav' controls preload='auto'></audio>
    <p id="aug-type"> Un augmented</p>
    <img src="static/images/Un-Augmented.png" width="300" height="200" alt="un-augmented"></img>
  </div>

  <div id="box" class="box-dark">
    <!-- <audio src='/static/music/test.wav' controls preload='auto'></audio> -->
    <audio id="audio" src='/static/audio/AddGaussianNoise.wav' controls preload='auto'></audio>
    <p id="aug-type"> <a>Gaussian noise</a> </p>
    <img class='refs' src="static/images/AddGaussianNoise.png" width="300" height="200"
      alt="gaussian noise augmented"></img>
  </div>

  <div id="box" class="box-dark">
    <audio id="audio" src='/static/audio/AddShortNoises.wav' controls preload='auto'></audio>
    <p id="aug-type"> Short noise</p>
    <img src="static/images/AddShortNoises.png" width="300" height="200" alt="short noise augmented"></img>
  </div>

  <div id="box" class="box-dark">
    <audio id="audio" src='/static/audio/TimeMask.wav' controls preload='auto'></audio>
    <p id="aug-type">Time Mask</p>
    <img src="static/images/TimeMask.png" width="300" height="200" alt="time mask augmented"></img>
  </div>

  <div id="box" class="box-dark">
    <audio id="audio" src='/static/audio/FrequencyMask.wav' controls preload='auto'></audio>
    <p id="aug-type">Frequency Mask</p>
    <img src="static/images/FrequencyMask.png" width="300" height="200" alt="freqeuncy mask augmented"></img>
  </div>

  <div id="box" class="box-dark">
    <audio id="audio" src='/static/audio/TFMask.wav' controls preload='auto'></audio>
    <p id="aug-type">Time Frequency Mask</p>
    <img src="static/images/TFMask.png" width="300" height="200" alt="time-frequecy mask augmented"></img>
  </div>

  <div id="box" class="box-dark">
    <audio id="audio" src='/static/audio/TimeStretch.wav' controls preload='auto'></audio>
    <p id="aug-type">Time Stretch</p>
    <img src="static/images/TimeStretch.png" width="300" height="200" alt="time stretch augmented"></img>
  </div>

  <div id="box" class="box-dark">
    <audio id="audio" src='/static/audio/PitchShift.wav' controls preload='auto'></audio>
    <p id="aug-type">Pitch shift</p>
    <img src="static/images/PitchShift.png" width="300" height="200" alt="pitch shift augmented"></img>
  </div>

</div>
{% endif %}


<!-- Augment your own audio files -->

<div class="header">
  <a href="#default" class="logo">
    <h1>Augment your Audio file</h1>
  </a>
</div>


<div class="file-upload">
  <form method="POST" action="/" enctype="multipart/form-data">
    <input type="submit" class="file-upload-btn" value="Generate Augmentations">
    <div class="image-upload-wrap">
      <input class="file-upload-input" type="file" name="file">
      <div class="drag-text">
        <h3>Drag and drop your audio file</h3>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <p class="error-para">{{ message }}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}

      </div>
    </div>
</div>
</form>
</div>

<br>
<br>


<div id="grid">

  <!-- Loop over uploaded files by the client and display them -->
  {% if images %}
  {% for key in images.keys() %}
  <div id="box" class="box-dark">
    <!-- removing preload auto takes care of previous audio being loaded issue -->
    <audio id="audio" src="/static/audio/client_aug_wavs/{{key}}.wav" controls></audio>
    <p id="aug-type-personal"> {{ key }} </p>
    <img src="{{ images[key] }}" width="250" height="50" alt=" {{ key }} Augmented "></img>
  </div>
  {% endfor %}
  {% endif %}


  <!-- Modals for pop ups -->

  <div id="simpleModal1" class="modal">
    <!-- modal class spans the whole page-->
    <div class="modal-content">
      <span id="closeBtn1" class="closeBtn">&times;</span>
      <p id="refs">

        <h3>Gaussian Noise Augmentation</h3>

         One of the predominant ways to augments training examples in deep learning is to add additive Gaussian noise to 
        training examples. Gaussian noise was added to mixture  \(\boldsymbol{\bar{x}} \) as
        follows:

        \begin{equation}
        \boldsymbol{\bar{x}_{ga}} = \boldsymbol{\bar{x}} + \textit{A} \times \boldsymbol{\bar{g}}.
        \end{equation}

        Where \( \boldsymbol{\bar{x}}_{ga} \) is the Gaussian augmented mixture and \( \boldsymbol{\bar{g}} \) is gaussian noise
        sampled from normal distribution and \( A \) is the Amplitude with which Gaussian noise was added. Higher the value
        of \( A \) more noiser is  the gaussian noise. \( A \) is randomly sampled from an uniform distribution as:

        \begin{equation}
        A = \mathcal{U}(Amin, Amax).
        \end{equation}

      </p>
    </div>
  </div>

  <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}">
  </script>