{% extends "base.html" %}
{%block title%} Play {% endblock%}

{% block content %}

<br>

<div class="aug-play">
  <form method="POST" action="/play" enctype="multipart/form-data">
    <!-- <label for="aug-type"> <b> Choose an augmentation </b> </label> -->
    <select name="augtype" id="augtype-select">
      <option selected="true" disabled="disabled">Augmentation type</option>
      <option value="AddGaussianNoise">Add Gaussian Noise</option>
      <option value="TimeMask">Time Masking</option>
      <option value="FrequencyMask">Frequency Masking</option>
      <option value="TFMask">Time-Frequency Masking</option>
    </select>
    <br><br>
    <input type="submit" value="submit" , class="aug-selection-btn">
  </form>

</div>

<div id="grid-play">
  <div id="box" class="box-dark">
    <div class='aug-play-head'> </div>
    <img class="refs" src="static/images/Un-Augmented.png" width="300" height="200" alt="augmented"></img>
    <br>
    <audio id="audio" src='/static/audio/Un-Augmented.wav' controls preload='auto'></audio>
  </div>
</div>

<script>

  let slectedAugType = document.getElementById('augtype-select')
  let specDisplay = document.getElementById('grid-play')
  let img  = document.getElementsByClassName('refs')[0]
  let audio = document.getElementById('audio')

  slectedAugType.addEventListener("change", () => {
    let idx = slectedAugType.selectedIndex
    let augType = slectedAugType[idx].value
    document.getElementsByClassName('aug-play-head')[0].innerHTML = `<h2> ${augType} </h2>`
    specDisplay.style.display = 'block'
    img.src = `static/images/${augType}.png`
    audio.src = `static/audio/${augType}.wav`
  })

</script>


{% endblock %}